extends ./layout

block content
	.row: .col-md-6.col-md-push-3
		h1.text-center Đổi mật khẩu
		form.form(method='POST' action='/change-password')
			.form-group
				label(for='oldPassword') Mật khẩu cũ
				input.form-control(type='password' name='oldPassword' placeholder='Mật khẩu cũ' required)
			.form-group
				label(for='password') Mật khẩu mới
				input.form-control(type='password' name='password' placeholder='Mật khẩu mới' required)
			.form-group
				label(for='retype') Nhập lại mật khẩu mới
				input.form-control(type='password' name='retype' placeholder='Mật khẩu mới' required)
			.text-center
				input.btn.btn-success(type='submit' value='Đổi mật khẩu')
