extends ./layout

block content
	.row: .col-md-6.col-md-push-3
		h1.text-center Đăng kí
		form.form(method='POST' action='/register')
			if recaptchaFailed
				.alert.alert-danger(role='alert') reCaptcha không thành công. Vui lòng thử lại.
			if userExists
				.alert.alert-danger(role='alert') 
					| Một người dùng với tên giống như bạn đã đăng kí trước đó. 
					| Là bạn? bấm vào 
					a(href='/login') đây
					|  để đăng nhập.
			.form-group
				label(for='username') Tên đăng nhập
				input.form-control(type='text' name='username' placeholder='Tên đăng nhập của bạn' required)
			.form-group
				label(for='password') Mật khẩu
				input.form-control(type='password' name='password' placeholder='Mật khẩu' required)
			.form-group
				label(for='name') Tên hiển thị
				input.form-control(type='text' name='name' placeholder='Trần Văn A' required)
			div(style='margin-bottom: 5px')!=recaptcha
			.text-center
				input.btn.btn-success(type='submit' value='Đăng kí')
