@font-face {
  font-family: "Noto Mono";
  src: url(/public/css/fonts/NotoMono-Regular.ttf);
}

body {
  padding: 20px;
  font: 14px "Noto Mono", Helvetica, Arial, sans-serif;
  padding-top: 80px;
}

a {
  color: #00b7ff;
}
body {
  background-color: #f8f8f8;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Thanks https://gist.github.com/adamblank/7896758 ! */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 0.1px solid #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}
