@font-face {
    font-family: "Noto Mono";
    src: url(/public/css/fonts/NotoMono-Regular.ttf);
}

body {
  padding: 50px;
  font: 14px "Noto Mono", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}
body {
    background-color: #f8f8f8;
}

.no-scrollbar::-webkit-scrollbar {
  display: none
}

/* Thanks https://gist.github.com/adamblank/7896758 ! */

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: transparent
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}
